
body {
    font-family: 'Open Sans', sans-serif;
}
.svg-container {
    text-align: center;
}

.main {
    align-self: center;
}

svg {
    margin-left: -50px;
}

h1 {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

.line {
    fill: none;
    stroke: whitesmoke;
    stroke-width: 1px;
}


.sr_line {
    fill: none;
    stroke: grey;
    stroke-width: 0px;
}

.sr_line:hover {
    fill:none;
    stroke: orangered;
    stroke-width: 4px;
}

.tooltip {
    position: relative;
    text-align: left;
    max-width: 1120px;
    padding: 5px 10px;
    background: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 8px;
    pointer-events: none;
    font-size: 12px;
    margin: 10px auto;
}

div p {
    text-align: left;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    margin: 5px 0;

}

button {
    margin: 2px;
    border: 1px solid lightgrey;
}

.buttonHolder {
    text-align: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;

}

.btn-sm {
    font-size: 11px;
}

.active {
    stroke: grey;
    stroke-width: 1px;
}
