
body {
    font-family: 'Open Sans', sans-serif;
}



/*
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
*/

.main {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 180px;
    padding: 0;
    flex-flow: column;

}

.svg-container {

    flex: 1 1 auto;
    text-align: center;

}

h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}

.line {
    fill: none;
    stroke: whitesmoke;
    stroke-width: 1px;
}


.sr_line {
    fill: none;
    opacity: 0;
    stroke-width: 1px;
}

.sr_line:hover {
    stroke-width: 2px;
}

.tooltip-container{
    margin: 5px 0;
    background:whitesmoke;
}

.tooltip {
    position: relative;
    text-align: left;
    padding: 5px 100px;
    pointer-events: none;
    font-size: 12px;
    margin: 5px 0;
}

div p {
    text-align: left;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    margin: 5px 0;

}

button {
    background-color: whitesmoke;
    margin: 2px;
    border: 1px solid lightgrey;
}

.buttonHolder {
    text-align: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;

}

.btn-sm {
    font-size: 11px;
    padding: 3px 6px;
}

.axis-text {
    font-size: 12px;
}

#dropdownMenuButton {
    border: 1px solid grey;
}

.dropdownHolder {
    text-align: center;
    margin: 5px auto;
    margin-bottom: -25px;
    font-size: 11px;
    z-index: 1000;

}

.custom-select {
    display: block;
    margin: 0 auto;
    width: 75%;
    font-size: 11px;
    padding: 3px 6px;
    height: 25px;
}