
body {
    font-family: 'Open Sans', sans-serif;
}


.svg-container {

    flex: 1 1 auto;
    text-align: center;

}
/*
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
*/

.main {
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 150px;
    flex-flow: column;

}

h1 {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

h5 {
    font-family: 'Open Sans', sans-serif;
}

.line {
    fill: none;
    stroke: whitesmoke;
    stroke-width: 1px;
}

.line:hover {
    stroke-width: 3px;
}


.sr_line {
    fill: none;
    stroke: none;
    stroke-width: 1px;
}

.sr_line:hover {
    stroke-width: 3px;
}

.tooltip {
    position: relative;
    text-align: left;
    max-width: 1120px;
    padding: 5px 10px;
    background: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 8px;
    pointer-events: none;
    font-size: 12px;
    margin: 10px auto;
}

div p {
    text-align: left;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    margin: 5px 0;

}

button {
    background-color: whitesmoke;
    margin: 2px;
    border: 1px solid lightgrey;
}

.buttonHolder {
    text-align: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;

}

.btn-sm {
    font-size: 11px;
    padding: 3px 6px;
}

.active {
    stroke: grey;
    stroke-width: 1px;
}

.axis-text {
    font-size: 12px;
}
